  <div>
    <!-- <button *ngIf="selectedFootballer" (click)="goBack.emit()">Back</button> -->
    <div *ngIf="!selectedFootballer; else playerInfo">
      <p></p>
    </div>
    <ng-template #playerInfo>
      <img src="{{ selectedFootballer.avatarUrl }}">
      <div class="text-xl font-medium">{{ selectedFootballer.name+selectedFootballer.surname | translate}}</div>
      <!-- <div class="font-medium text-[#848484]">{{ selectedFootballer.position }}</div> -->
       <br>
      <div [innerHTML]="selectedFootballer.description | translate"></div>

    <!-- <div class="images" *ngFor="let item of imageArray">
    <img src="{{item}}"/>
    </div> -->

    <app-image-carousel [imageArray]="imageArray"></app-image-carousel>
    
    </ng-template>
  </div>