<header>
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
</header>
<div class="header">
    for clubs
</div>
<!-- 
<div class="maincontainer">
    <div [ngClass]="menuClass">
        <button (click)="scrollToElement(aboutus, 'aboutus')">About Us</button>
        <button (click)="scrollToElement(partners, 'partners')">Partners</button>
        <button (click)="scrollToElement(projects, 'projects')">Our Projects</button>
        <button (click)="aboutUs()"></button>
    <button (click)="partners()">Partners</button>
    <button (click)="projects()">Our Projects</button>
    </div>
    <div class="wrapper">
        <div class="container">
            <div #aboutus><app-about-us></app-about-us></div>
            <div #partners><app-partners></app-partners></div>
            <div #projects><app-our-projects></app-our-projects></div>
        </div>
    </div>
</div> -->

<div class="maincontainer">
    <div>
        <div class="menu">
            <!-- <button (click)="scrollToElement(aboutus, 'aboutus')">About Us</button> -->
            <button (click)="scrollToElement(partners, 'partners')">Partners</button>
            <!-- <button (click)="scrollToElement(projects, 'projects')">Our Projects</button> -->
        </div>
    </div>
    <div class="pages">
        <!-- <div #aboutus><app-about-us></app-about-us></div> -->
        <div #partners><app-partners></app-partners></div>
        <!-- <div #projects><app-our-projects></app-our-projects></div> -->
    </div>
</div>