<div class="wrapper">
    <div class="container">
        <div class="containerleft">
            <span class="title">About Us</span>
            <div class="textleft">
                <span class="subtitle">WE ARE LIFE COACHES</span>
                <span>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's
                    standard dummy text ever since the 1500s, when an unknown printer
                    took a galley of type and scrambled it to make a type specimen book. It has survived not only five
                    centuries,
                    but also the leap into electronic typesetting,
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's
                    standard dummy text ever since the 1500s, when an unknown printer
                    took a galley of type and scrambled it to make a type specimen book. It has survived not only five
                    centuries,
                    but also the leap into electronic typesetting,
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's
                    standard dummy text ever since the 1500s, when an unknown printer
                    took a galley of type and scrambled it to make a type specimen book. It has survived not only five
                    centuries,
                    but also the leap into electronic typesetting,
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's
                    standard dummy text ever since the 1500s, when an unknown printer
                    took a galley of type and scrambled it to make a type specimen book. It has survived not only five
                    centuries,
                    but also the leap into electronic typesetting,

                </span>

            </div>
            <div class="imgs">
                <img src="../../assets/otlogoblue.svg">
                <img src="../../assets/otlogoblack.svg">
            </div>
        </div>
        <div class="containerright">
            <div>
                <img src="../../assets/ourvisionsm.svg">
            </div>
            <div class="text">
                <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                    Ipsum
                    has been the industry's</span>

                <div class="slogancontainer">
                    <span class="title">our vision</span>
                    <span class="slogan">some inspiration slogan</span>
                </div>
            </div>
        </div>
    </div>
</div>