<header>
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
</header>

<div class="wrapper">
    <div class="container">
        <div class="containerleft">
            <span class="title">{{"ABOUT_US"|translate}}</span>
            <div class="textleft">
                <!-- <span class="subtitle">WE ARE LIFE COACHES</span> -->
                <!-- <span>
                    {{"ABOUTUS_TEXT" | translate}}
                </span> -->
                <div class="about-us-text" [innerHTML]="'ABOUTUS_TEXT' | translate"></div>

            </div>
            <div class="imgs">
                <img src="../../assets/otlogoblue.svg">
                <img src="../../assets/otlogoblack.svg">
            </div>
        </div>
        <div class="containerright">
            <div>
                <img src="../../assets/ourvisionsm.svg">
            </div>
            <div class="text">
                <span></span>

                <div class="slogancontainer">
                    <span class="title">our vision</span>
                    <span class="slogan">Intelligence is the ability to adapt to change</span>
                </div>
            </div>
        </div>
    </div>
</div>