<div class="wrapper">
    <div class="container">
        <div class="containerleft">
            <span class="title">About Us</span>
            <div class="textleft">
                <span class="subtitle">WE ARE LIFE COACHES</span>
                <span>
                    The inception of OT Sportmanagement stems from a commitment to enhance access to top-notch services
                    and products for Georgian clubs and football players. Our mission is to elevate the organizational
                    culture of clubs by streamlining, expediting, and amplifying the transparency and efficiency of
                    their internal processes. Through a range of services and products, players are empowered to evolve
                    more rapidly, align with European standards, and showcase their capabilities at an international
                    level, fostering a pathway to success.
                </span>

            </div>
            <div class="imgs">
                <img src="../../assets/otlogoblue.svg">
                <img src="../../assets/otlogoblack.svg">
            </div>
        </div>
        <div class="containerright">
            <div>
                <img src="../../assets/ourvisionsm.svg">
            </div>
            <div class="text">
                <span></span>

                <div class="slogancontainer">
                    <span class="title">our vision</span>
                    <span class="slogan">Intelligence is the ability to adapt to change</span>
                </div>
            </div>
        </div>
    </div>
</div>