<div class="wrapper">
    <div class="container">
        <div class="header">
            for clubs
        </div>
        <div class="aboutus">
            <span class="title">About Us</span>
            <span class="subtitle">WE ARE LIFE COACHES</span>
            <span>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's
                standard dummy text ever since the 1500s, when an unknown printer
                took a galley of type and scrambled it to make a type specimen book. It has survived not only five
                centuries,
                but also the leap into electronic typesetting,
            </span>
            <div class="images">
                <img src="../../assets/otlogoblue.svg">
                <img src="../../assets/otlogoblack.svg">
            </div>
        </div>
        <div class="ourvision">
            <img clas="w-full" src="../../assets/ourvisionsm.svg">
            <span class="text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                has been the industry's</span>

            <span class="title">our vision</span>
            <span class="slogan">some inspiration slogan</span>
        </div>
        <div class="ourpartners">
            <span class="title">our partners</span>
            <span class="slogan">we are life coaches</span>
            <span class="text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                Ipsum
                has been the industry's standard dummy text ever since the 1500s, when an unknown printer .
                took a galley of type and scrambled it to make a type specimen book. </span>

            <div class="partners"><app-partner></app-partner></div>
            <div class="partners"><app-partner></app-partner></div>
            <div class="partners"><app-partner></app-partner></div>
        </div>

        <div class="ourprojects">

            <span class="title">our projects</span>
            <span class="slogan">here goes project name, Lorem Ipsum is simply dummy text.</span>

        </div>
    </div>
</div>