.header {
  @apply flex justify-center text-lg md:text-xl text-[#19002D] uppercase font-bold;
}

.maincontainer {
  @apply flex flex-col lg:flex-row justify-center h-[calc(100vh-180px)] lg:justify-between;

  .menu {
    @apply hidden lg:flex lg:flex-col lg:w-1/6 lg:fixed;
  }

  .mobile-menu {
    @apply flex justify-center py-4;
    .menu-icon {
      @apply text-2xl cursor-pointer;
    }
    .mobile-menu-content {
      @apply hidden flex-col items-center bg-white;
    }
  }

  .pages {
    @apply w-full h-full lg:w-5/6 mt-4 lg:mt-0;
  }

  .partners-section {
    @apply h-full overflow-y-auto px-4;
  }
}

.menu button,
.mobile-menu-content button {
  @apply text-base lg:text-lg hover:text-[#4932EB] font-bold;
}

.maincontainer::-webkit-scrollbar {
  display: none;
}

.maincontainer {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
