<div class="custom-select">
    <div class="dropdown" (click)="toggleLangaugeList()">
      <div class="selected-option">
        <img src="../../assets/flags/{{selectedLanguage}}.svg" alt="option image">
        <span>{{ selectedLanguage }}</span>
      </div>
      <ul class="options" *ngIf="languagesToggled">
        <li *ngFor="let language of langauages" (click)="switchLanguage(language)">
          <img src="../../assets/flags/{{language}}.svg" alt="option image">
          {{ language }}
        </li>
      </ul>
    </div>
  </div>