<header>
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
</header>

<div class="header">
    {{'FOR_PLAYERS' | translate}}
</div>

<div class="maincontainer">
    <div>
        <div class="menu">
            <button (click)="scrollToElement(ourservices, 'ourservices')">{{'SERVICES' | translate}}</button>
            <button (click)="scrollToElement(players, 'players')">{{'PLAYERS' | translate}}</button>
        </div>
    </div>
    <div class="pages">
        <!-- Calendly link widget begin -->
        <!-- <link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
        <script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript" async></script>
        <a class="floating-btn" href=""
            onclick="Calendly.initPopupWidget({url: 'https://calendly.com/sanagved/30min?background_color=19002d&text_color=ffffff'});return false;">
            <svg xmlns="http://www.w3.org/2000/svg" fill="white" width="24" height="24" viewBox="0 0 24 24">
                <path
                    d="M12 0c-6.627 0-12 5.373-12 12 0 6.627 5.373 12 12 12 6.627 0 12-5.373 12-12 0-6.627-5.373-12-12-12zm1 19h-2v-6h-6v-2h6v-6h2v6h6v2h-6v6z" />
            </svg>
        </a> -->
        <!-- Calendly inline widget begin -->
        <!-- <div class="calendly-inline-widget"
            data-url="https://calendly.com/otsportmanagement-info/30min?hide_event_type_details=1&hide_gdpr_banner=1"
            style="min-width:320px;height:700px;"></div>
        <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script> -->
        <!-- Calendly inline widget end -->


        <!-- Calendly link widget end -->
        <!-- Calendly link widget end -->
        <!-- <div #aboutus><app-about-us></app-about-us></div> -->
        <div #ourservices><app-our-services></app-our-services></div>
        <div #players><app-player-shell></app-player-shell></div>
        <!-- <div #partners><app-partners></app-partners></div> -->
        <!-- <div #projects><app-our-projects></app-our-projects></div> -->
    </div>
</div>