.wrapper {
    @apply flex flex-col items-center h-[calc(100vh-180px)] w-full overflow-scroll;
  
    .container {
      @apply flex flex-col items-center md:flex-row md:items-start md:w-[80%] md:justify-between lg:w-1/2 lg:flex-row lg:justify-between lg:min-w-full lg:h-full;
  
      .containerleft {
        @apply w-[80%] h-full flex flex-col justify-between md:border-r md:border-black md:mr-3 lg:border-r lg:justify-between lg:px-2;
  
      
      }
      .containerright {
        @apply w-[80%] mt-4 flex flex-col justify-between text-[#19002D];
      }
    }
  }
  
  // .header {
  //   @apply flex justify-center w-[80%] text-xl  text-[#19002D]  uppercase border-b border-[#19002D] pb-2 font-bold;
  // }
  
  .wrapper::-webkit-scrollbar {
    display: none;
  }
  
  .wrapper {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  