<!-- <header class="wrapper"> -->
  <nav class="navigaion" aria-label="Global"> <!--max-w-7xl-->
    <div class="logo">
      <a href="#">
        <span class="sr-only">OT Sports</span>
        <img src="../../assets/logo.svg" alt="">
      </a>
    </div>
    <div class="pageName">{{pageName}}</div>
    <div class="navitems">
      <app-language-items></app-language-items>
      <div (click)="toggleMainMenu()">
        <img src="../../assets/{{currentIcon}}.svg" class="h-6 w-6" fill="none">
      </div>
    </div>
  </nav>
<!-- </header> -->

  <!-- <ng-template #hamburgerIcon>
    <img src="../../assets/menuOpen.svg" class="h-6 w-6" fill="none">
  </ng-template>

  <ng-template #xIcon>
    <img src="../../assets/menuClose.svg" class="h-6 w-6" fill="none">
  </ng-template> -->

<div *ngIf="menuToggled" [@slideInOut]="menuToggled ? 'visible' : 'hidden'" class="fixed w-full">
  <div class="menuToggle">
    <a [routerLink]="['/for-clubs']" class="menuItem for-clubs" (click)="toggleMainMenu()">FOR CLUBS <img src="../../assets/aicon.svg"
        class="mx-4"></a>
    <a [routerLink]="['/for-players']" class="menuItem for-players" (click)="toggleMainMenu()">FOR PLAYERS <img src="../../assets/aicon.svg"
        class="mx-4"></a>
    <a [routerLink]="['/for-agencies']" class="menuItem for-agencies" (click)="toggleMainMenu()">FOR AGENCIES <img src="../../assets/aicon.svg"
        class="mx-4"></a>
  </div>
</div>