.wrapper {
  @apply w-full flex flex-col m-3 p-4 items-center justify-center md:items-start md:justify-start;

  .logo{
      @apply w-3/5 h-3/5; 
  }
  .text {
    @apply text-[#8F8F8F]  h-full overflow-hidden mt-3;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  .btn {
    @apply text-black font-bold mt-3;
    transition: transform 0.2s;

    &:hover {
      @apply text-[#A3A9F5];
      -ms-transform: scale(1.15); /* IE 9 */
      -webkit-transform: scale(1.15); /* Safari 3-8 */
      transform: scale(1.15);
    }
  }
}
