.selected {
  @apply opacity-100;
  // border: 2px solid blue; /* Add your desired border style for the selected footballer */
}
.logo{
  @apply flex w-40 h-44;
}

.wrapper::-webkit-scrollbar {
    display: none;
  }
  
  .wrapper {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  