<div class="wrapper">
    <div class="leftside">
        <span class="title">our partners</span>
        <div class="bottomside">
            <span class="slogan">we are life coaches</span>
            <span class="text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                Ipsum
                has been the industry's standard dummy text ever since the 1500s, when an unknown printer .
                took a galley of type and scrambled it to make a type specimen book. </span>
        </div>
    </div>
    <div class="rightside">
        <div class="partners" *ngFor="let partner of partners">
            <div class="partner"><app-partner [partner]="partner"></app-partner></div>           
        </div>
        <div class="seemore">Click to see all Partners</div>
    </div>

</div>