<div class="wrapper">
    <div class="leftside">
        <span class="title">our services</span>
        <div class="leftText"></div>

            <img class="video" src="../../assets/ourvisionsm.svg">
        <!-- <div class="video">
            <iframe src="https://www.youtube.com/embed/emXsWr9XbZc"></iframe>
        </div> -->
    </div>
    <div class="rightside">
        <div class="services">
            <ul>
                <li *ngFor="let item of serviceList; let i = index">
                    <div>{{item}}</div>
                    <div class="opacity-80"> {{i+1}}</div>
                </li>
            </ul>
        </div>
        <div class="contactUs">Contact Us ></div>
    </div>
</div>