<div class="wrapper">
  <div class="container">
    <img class="circle" src="../../assets/circle.svg" alt="">
    <img class="circle-md" src="../../assets/circle-top-md.svg" alt="">
    <img class="image" src="../../assets/large.png">
    <div class="pages">
      <a [routerLink]="['/for-clubs']" class="menuItem for-clubs">FOR CLUBS <img class="icon"
          src="../../assets/aicon.svg"></a>
      <a [routerLink]="['/for-players']" class="menuItem for-players">FOR PLAYERS <img class="icon"
          src="../../assets/aicon.svg"></a>
      <a [routerLink]="['/for-agencies']" class="menuItem for-agencies">FOR AGENCIES <img class="icon"
          src="../../assets/aicon.svg"></a>
    </div>
    <img class="triangle triangle-left" src="../../assets/triangle-left.svg">
    <img class="triangle triangle-right" src="../../assets/triangle-right.svg" alt="">
    <img class="circle-bottom-md" src="../../assets/circle-bottom-md.svg" alt="">
  </div>

</div>