<div class="wrapper">
  <div class="container">
    <img class="image" src="../../assets/large.png">
    <div class="pages">
      <a [routerLink]="['/for-clubs']" class="menuItem for-clubs">FOR CLUBS <img src="../../assets/aicon.svg"></a>
      <a [routerLink]="['/for-players']" class="menuItem for-players">FOR PLAYERS <img src="../../assets/aicon.svg"></a>
      <a [routerLink]="['/for-agencies']" class="menuItem for-agencies">FOR AGENCIES <img
          src="../../assets/aicon.svg"></a>
    </div>
  </div>
</div>