<div class="wrapper">
  <div class="container">
    <!-- <img class="circle" src="../../assets/circle.svg" alt="">
    <img class="circle-md" src="../../assets/circle-top-md.svg" alt=""> -->
    <div class="video">
      <app-video-player></app-video-player>
    </div>
    <div class="pages">
      <a [routerLink]="['/for-clubs']" class="menuItem for-clubs">{{'FOR_CLUBS' | translate}}
        <img class="icon" src="../../assets/aicon.svg">
      </a>
      <a [routerLink]="['/for-players']" class="menuItem for-players">{{'FOR_PLAYERS' | translate}}
        <img class="icon" src="../../assets/aicon.svg">
      </a>
      <a [routerLink]="['/for-agencies']" class="menuItem for-agencies">{{'FOR_AGENCIES' | translate}}
        <img class="icon" src="../../assets/aicon.svg">
      </a>
      <a [routerLink]="['/about-us']" class="menuItem about-us">{{'ABOUT_US' | translate}}
        <img class="icon" src="../../assets/aicon.svg">
      </a>
    </div>
    <!-- <img class="circle-bottom-md" src="../../assets/circle-bottom-md.svg" alt=""> -->
  </div>
</div>